@import "~bootstrap/scss/bootstrap";
@import "~datatables.net-bs5/css/dataTables.bootstrap5.min.css";

.btn-cadastrar{
    float: right;
};

.container {
    margin-top: 5%;
}

.hidden{
    visibility: hidden;
}
